<!doctype html>

<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Kanji Delight</title>
  <meta name="description" content="Kanji Delight">
  <meta name="author" content="SitePoint">

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>

  <div class="topnav">
    <a class="active" href="#signup">Sign Up</a>
    <a href="#login">Log In</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
  </div>
  <img src="images/landingJapan.jpg" width="1500" height="900" />
  <script src="index.js"></script>
</body>

</html>
