<%- include('header'); %>
<h4>二 | 弐 | 2</h4>

<br />
<h3>第一章 | だいいっしょう| Chapter 1</h3>
<h3>第二課 |　だい二か | Lesson 2</h3>
<br />
<p class="list">出 時 山 本 外</p>

<br />

<p>時々食べる ときどきたべる I/We/He, she/They eat sometimes</p>
<p>本を読む ほんをよむ I/We/He, she/They read a book </p>
<p>時々学ぶ どきどきまなぶ I/We/He, she/They learn sometimes </p>
<p>山を視る やまをみる I/We/He, she/They see a mountain </p>
<p>本を観る ほんをみる I/We/He, she/They see a book</p>
<p>時々見る ときどきみる I/We/He, she/They see sometimes </p>
<p>外に行く やまにいく I/We/He, she/They go outside</p>
<p>山から来る やまにくる I/We/He, she/They come from the mountain　 </p>
<p>時々する ときどきする I/We/He, she/They do　 </p>
<p>スミスさんに会う すみすさんにあう I/We/He, she/They meet Mr. Smith</p>
<p>本を買う ほんをかう I/We/He, she/They buy a book </p>
<p>外に出る そとにでる I/We/He, she/They are going outside </p>
<p>山に出る やまにでる I/We/He, she/They are leaving the mountain</p>
<br />

<p>In both modern Japanese and classical Japanese, every verb ends in う u in dictionary form. </p>
<p>Dictionary form in modern Japanese is called 辞書形 | じしょけい. </p>
<p>In classical Japanese, dictionary form is called the 終止形 |しゅうしけい. </p>
<p>The 々character means the same character twice.</p>
<p>から is a particle that means “from”</p>
<p>に is a particle with multiple meanings – here it means “to”, “in the direction of” when referring to a place</p>
<p>にis also used with the verb “会う” to indicate the person you are meeting</p>
<p>を is a particle that indicates a direct object, i.e. what you are buying or seeing </p>

<%- include('footer'); %>
