<%- include('header') -%>

<h4>一 | 壱 | 1</h4>

<br />
<h3><%= chapter %></h3>
<h3><%= lesson %></h3>
<br />


<br />

<p>食べる たべる    I/We/He, she/They eat　　上一段動詞 | かみいちだんどうし | Group 2 Verb</p>
<p>読む よむ    I/We/He, she/They read　 五段動詞 | ごだんどうし | Group 1 Verb </p>
<p>学ぶ まなぶ    I/We/He, she/They learn　 五段動詞 | ごだんどうし | Group 1 Verb</p>
<p>視る みる    I/We/He, she/They see　 上一段動詞 | かみいちだんどうし | Group 2 Verb</p>
<p>観る みる    I/We/He, she/They see　 上一段動詞 | かみいちだんどうし | Group 2 Verb</p>
<p>見る みる    I/We/He, she/They see　 上一段動詞 | かみいちだんどうし | Group 2 Verb</p>
<p>行く いく    I/We/He, she/They go　 五段動詞 | ごだんどうし | Group 1 Verb</p>
<p>来る くる    I/We/He, she/They go　 サ行変格動詞 | さぎょうへんかくどうし | Group 3 Verb</p>
<p>する する    I/We/He, she/They do　 カ行変格動詞 | さぎょうへんかくどうし | Group 3 Verb</p>
<p>会う あう    I/We/He, she/They meet　五段動詞 | ごだんどうし | Group 1 Verb</p>
<p>買う	かう	  I/We/He, she/They buy	五段動詞| ごだんどうし | Group 1 Verb</p>
<br />

<p>In modern Japanese, there are 3 types of verbs – group 1, group 2 and group 3</p>
<p>Group 3 contains only two verbs, する and 来る known as サ行変格動詞 S row irregular verb and カ行変格動詞 K row irregular verb. </p>
<p>Since these verbs are irregular, you need to memorize each conjugation.</p>
<p>Group 2 verbs 上一段動詞 Kami ichidan verbs are verbs that end in いる or える</p>
<p>Group 1 verbs are all other verbs that are not in Group 2 or Group 3 – they are called 五段動詞　Godan verbs.</p>
<%- include('footer') -%>
