<%- include('header'); -%>

<br />
<br />
<form action="/signin" method="POST" enctype="text/plain" >
  <label>Email Address:</label>
  <br />
  <input type="email" name="username" value="" placeholder="Email Address">
  <br />
  <br />
  <label>Password:</label>
  <br />
  <input type="password" name="password" value="" placeholder="Password">
    <br />
    <br />
<button type="submit" name="button">Submit</button>
  </form>
  <br />
  <br />

<%- include('footer'); -%>
