<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/5bd83228e9.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/tategaki.css">
  <title></title>
</head>

<body>


<h5>この頃山田さんが岡山に行った</h5>
<h5>明日中国地方から来ます </h5>

<%- include('footer'); %>
