<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Table of Contents</title>
  <link rel="stylesheet" href="/css/template.css">
</head>

<body>

  <% const numOfDocs = 7; %>
  <div>

    <ul>
      <h2>Table of Contents</h2>
      <%  for (let i = 0; i < numOfDocs; i++) {  %>
      <li>
        <h4><a href="/lessons/<%= i + 1 %>">Lesson <%= i + 1 %></a></h4>
      </li>
      <% } %>
    </ul>
  </div>
</body>

</html>
