body {
  border-style: solid;
  border-width: 2px;
  border-color: #898791;
  border-radius: 10px;
}

h4 {
  text-align: right;
  color: #898791;
  margin-right: 20px;
}

table, th, td {
  border-style: solid;
  border-width: 1px;
  border-color: #898791;
  border-collapse: collapse;
  color: #898791;
  text-align: center;
  margin: auto;
}

h3 {
  color: #898791;
  text-align: center;
}
